body{
    margin:0;
    background-color:black;
    color:white;
    font-family:'Lato', sans-serif;
    font-weight: 400;
    -webkit-animation:fadein 4s;
    -moz-animation:fadein 4s;
    -ms-animation:fadein 4s;
    -o-animation:fadein 4s;
    animation:fadein 4s
}
@keyframes fadein{
    from{
        opacity:0
    }
    to{
        opacity:1
    }
}
@-moz-keyframes fadein{
    from{
        opacity:0
    }
    to{
        opacity:1
    }
}
@-webkit-keyframes fadein{
    from{
        opacity:0
    }
    to{
        opacity:1
    }
}
@-ms-keyframes fadein{
    from{
        opacity:0
    }
    to{
        opacity:1
    }
}
@-o-keyframes fadein{
    from{
        opacity:0
    }
    to{
        opacity:1
    }
}
a:link{
    color:white;
    background-color:transparent;
    text-decoration:none
}
a:visited{
    color:white;
    background-color:transparent;
    text-decoration:none
}
a:hover{
    color:white;
    background-color:transparent;
    text-decoration:underline
}
a:active{
    color:white;
    background-color:transparent;
    text-decoration:underline
}
canvas{
    display:block;
    margin-left:auto;
    margin-right:auto
}
#Text1{
    font-size:6vmin;
    position:relative;
    top:10px;
    width:95%;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    z-index:100;
    display:block
}
#scaleText{
    font-size:7vmin;
    position:relative;
    top:10px;
    width:100%;
    text-align:center;
    z-index:100;
    display:block
}
#InfoText{
    display:inline
}
#InfoTextconsumption{
    display:inline
}
#InfoTextCite{
    display:block
}
#InfoTextContainer{
    font-weight: 300;
    text-align:justify;
    z-index:100;
    font-size:2vmin;
    position:relative;
    width:90%;
    margin-left:auto;
    margin-right:auto;
    display:block;
    margin-bottom:10px;
    line-height:110%
}
#Citation1{
    width:80%;
    margin-left:auto;
    margin-right:auto;
    display:block;
    font-size:4vmin;
    position:relative;
    top:10px;
    text-align:center;
    z-index:100;
    margin-bottom:7px
}
#Citation2{
    width:80%;
    margin-left:auto;
    margin-right:auto;
    display:block;
    margin-bottom:10%;
    font-size:3vmin;
    position:relative;
    top:10px;
    text-align:center;
    z-index:100
}
